# streamlit==1.21.0
streamlit==0.85.0
altair
backports.zoneinfo
blinker
cachetools
click
contourpy
cycler
entrypoints
feature-engine
fonttools
htmlmin
ImageHash
imbalanced-learn
ipywidgets
joblib
jupyterlab-widgets
kiwisolver
matplotlib
multimethod
networkx
numpy
pandas
pandas-profiling
patsy
phik
Pillow
plotly
ppscore
protobuf
pyarrow
pydantic
pydeck
Pympler
pyparsing
pytz
pytz-deprecation-shim
PyWavelets
scikit-learn
scipy
seaborn
tangled-up-in-unicode
tenacity
threadpoolctl
toml
toolz
tqdm
typeguard
tzdata
tzlocal
validators
visions
watchdog
widgetsnbextension
xgboost
ydata-profiling
yellowbrick
